// The latest settings can be found here:
// https://github.com/zurb/bower-foundation/blob/master/scss/foundation/_settings.scss



$primary-color: #999E7E;
$secondary-color: #EBE2D2;
$tertiary-color: #efefef;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;


