<div class="hero">
  {% if page.hero-image %}
  <img class="hero__background" src="{{page.hero-image}}">
  {% else %}
  <img class="hero__background" src="{{ site.baseurl }}/img/analogcomputer.jpg">
  {% endif %}
  {% if page.title %}
    <h1 class="hero__title">{{ page.title }}</h1>
  {% endif %}
</div>


<!--
          
      <div class="row" id="masthead">
        <div class="large-12 medium-12 small-12 columns">
            {% if page.title != nil %}
            <h1>{{ page.title }}</h1>
            {% endif %}
            {% if page.subtitle != nil %}
            <h4>{{ page.subtitle }}</h1>
            {% endif %}
        </div>
    </div>
-->
    <div id="content-wrapper">