{% comment %}

Generate the left sidebar menu

{% endcomment %}

<div class="row">
    <div class="large-2 columns hide-for-small">
        <ul class="side-nav">
        {% for post in site.categories['calendar'] reversed %}

            <li><a href="{{site.url}}{{site.baseurl}}/{{post.url}}" {% if post.url == page.url %}class="active"{%endif %}>{{post.title}}</a></li>
        {% endfor %}
    </ul>

    </div>

    <div class="large-10 small-12 columns">


{% for post in site.categories['calendar'] limit: 1 %}
<a name="{{post.title}}"></a>
<div class="panel">
<div class="row">
    <div class="large-3 small-12 columns">
        <h2>{{post.title}}</h2>
        <h3><small>{{post.subtitle}}</small></h3>
    </div>
    <div class="large-1 hide-for-small columns">
    </div>
    <div class="large-8 small-12 columns">
        {{post.content}}
    </div>
</div>
</div>
{% endfor %}

</div>
</div>