{% include head.html %}
{% include nav.html %}
{% include masthead.html %}


<section>
	<div class="row">
		<div class="large-2 columns hide-for-small">
			<ul class="side-nav">
				{% for post in site.categories['calendar'] reversed %}
					<li{% if post.path == page.path %} class="active"{%endif %}><a href="{{site.url}}{{site.baseurl}}/{{post.url}}">{{post.title}}</a></li>
				{% endfor %}
			</ul>

		</div>

		<div class="large-10 small-12 columns">
			<div class="panel">
				<div class="row">
					<div class="large-3 small-12 columns">
						<h2>{{page.title}}</h2>
						<h3><small>{{page.subtitle}}</small></h3>
					</div>
					<div class="large-1 hide-for-small columns">
					</div>
					<div class="large-8 small-12 columns">
						{{content}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{% include foot.html %}



